
footer{
    background-color: black;
    padding: 5%;
    display: grid;
    justify-content: center;
}

.footer__img-area{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    align-items: center;
}

.footer__img-area__img{
    max-width: 100%;
    height: auto;
    width: 3vw;
}

.footer__text-area__text{
    font-size: 1.3vw;
    margin: 7% 0 0 0;
}